h2,
p {
  text-align: center;
}

h2 {
  font-size: 2rem;
}

div.tabs.is-centered {
  margin: 0;
}

section.section {
  padding-top: 10px;
}

.welcome {
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 50px 0;
}

.arrow {
  padding: 0 1rem;
}

.card-content {
  text-align: center;
}

.fa-heart {
  color: #8e0103;
}

.thumbs-up {
  padding-left: 3px;
}

.ind-product {
  text-align: center;
}
