h2,
p {
  text-align: center;
}

h2 {
  font-size: 2rem;
}

div.tabs.is-centered {
  margin: 0;
}

select {
  margin: 0 auto;
}

section.section {
  padding-top: 10px;
}

.welcome {
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 50px 0;
}

.arrow {
  padding: 0 1rem;
}

.card-content {
  text-align: center;
}

.fa-heart {
  color: #8e0103;
}

.thumbs-up {
  padding-left: 3px;
}

.ind-product {
  text-align: center;
}

.buy {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 1rem 0;
  width: 50%;
}

.shopping-cart {
  padding-left: 3px;
}

.buy-it-main {
  margin-top: 2rem;
}

.department-name {
  text-transform: capitalize;
}

.buy-item-name {
  text-transform: capitalize;
}

.department {
  padding-bottom: 1rem;
}
